.header {
  height: 100px;
  width: 100%;
  position: absolute;
}
.header__nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  column-gap: 9px;
}
.header__title {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__menu {
  display: flex;
  column-gap: 25px;
  list-style-type: none;
}
.header__item {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__item:hover {
  transition: 0.8s ease-in-out;
  transform: scale(1.5);
  cursor: pointer;
}
.header__form {
  display: flex;
  column-gap: 25px;
  align-items: center;
}
.header__btn {
  width: 100px;
  height: 40px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  background-color: transparent;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.header__btn:hover {
  transition: 0.8s ease-in-out;
  transform: scale(1.3);
  background-color: #fff;
  color: #ED4C5C;
}
.header__langSelect {
  width: 96px;
  height: 32px;
  padding-left: 43px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #FFFFFF;
}
.header__langSelect:hover {
  transition: 0.8s ease-in-out;
  transform: scale(1.2);
}